@import "roots.scss";

.section.advantages {
    background-color: $green-background-color;
    color: $white-text-color;
    padding: 116px 0 68px 0;

    @media screen and (min-width: $mobile) {
        padding: 126px 0 81px 0;
    }

    @media screen and (min-width: $tablet) {
        padding: 162px 0 204px 0;
    }

    @media screen and (min-width: $desktop) {
        padding: 189px 0 178px 0;
    }

    .list {
        @media screen and (min-width: $tablet) {
            justify-content: center;
            column-gap: 80px;
        }

        @media screen and (min-width: $desktop) {
            column-gap: 32px;
        }
    }

    .item {
        position: relative;
        max-width: 230px;
        margin: 0 auto;
        text-align: center;

        @media screen and (min-width: $tablet) {
            max-width: 152px;
            margin: 0;
        }

        @media screen and (min-width: $desktop) {
            max-width: 368px;
            margin: 0;
        }

        &+.item {
            margin-top: 94px;

            @media screen and (min-width: $mobile) {
                margin-top: 98px;
            }

            @media screen and (min-width: $tablet) {
                margin: 0;
            }
        }

        &.cow::after {
            content: "";
            position: absolute;
            top: -66px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: url(../images/cow.svg) center/80% no-repeat;
            background-color: $orange-color;

            @media screen and (min-width: $tablet) {
                top: -82px;
            }
        }

        &.weight::after {
            content: "";
            position: absolute;
            top: -66px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: url(../images/weight.svg) center/80% no-repeat;
            background-color: $orange-color;

            @media screen and (min-width: $tablet) {
                top: -82px;
            }
        }

        &.cold::after {
            content: "";
            position: absolute;
            top: -66px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: url(../images/ice-crema.svg) center / 80% no-repeat;
            background-color: $orange-color;

            @media screen and (min-width: $tablet) {
                top: -82px;
            }

            @media screen and (min-width: $desktop) {
                top: -90px;
            }
        }
    }


    .text {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.70;
        letter-spacing: 0.02em;

        @media screen and (min-width: $tablet) {
            font-size: 14px;
            line-height: 1.74;
        }

        @media screen and (min-width: $desktop) {
            font-size: 16px;
            line-height: 1.76;
        }

        &-bold {
            display: block;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.22;
            letter-spacing: 0.04em;

            margin-bottom: 16px;

            @media screen and (min-width: $tablet) {
                font-size: 48px;
                line-height: 1.229;

                margin-bottom: 12px;
            }

            @media screen and (min-width: $desktop) {
                font-size: 58px;
                line-height: 1.206;

            }
        }
    }
}