@import "roots.scss";



@keyframes scale-down-center {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }

.overlay-buttons {

    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.button {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.285;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;

    &:hover {
        cursor: url(../images/cursore.svg), pointer;
    }

    &.primery {
        padding: 12px 34px;
        border: none;
        background-color: $orange-color;
        &:hover {
            background-color: $hover-color;
        }

        &:focus {
            background-color: $hover-color;
            color: $white-text-color;
        }
        &:active{
            animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        &:disabled {
            background-color: $disabled;
        }
    }

    &.secondary {
        padding: 10px 55px;
        &:active{
            animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        
    }

    &.arrow {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        display: block;
        background-color: transparent;
        border: none;
        padding: 0;

        @media screen and (min-width: $desktop) {
            bottom: 60px;
        }


        &:focus {
            transform: scale(1.3) translateX(-15px);
        }


        .button-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 16px;

        }
    }

    .small-arrow {
        width: 12px;
        height: 12px;
        margin-left: 4px;
    }
}
