@import "roots.scss";

.section.contacts {
    background-color: $green-background-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 16px;
    }
    .container {
        position: relative;
        padding-top: 1095px;

        @media screen and (min-width: $tablet) {
            padding-top: 360px;
        }

        @media screen and (min-width: $desktop) {
            padding-top: 636px;
        }

        .up {
            position: absolute;
            top: -353px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            @media screen and (min-width: $tablet) {
                top: -299px;
            }

            @media screen and (min-width: $desktop) {
                top: -128px;
            }
        }
    }

    .contacts-box {
        justify-content: center;
        row-gap: 16px;

        @media screen and (min-width: $tablet) {
            column-gap: 16px;
            row-gap: 0;
        }

        &>.item {
            max-width: 280px;
            max-height: 412px;
            padding: 40px 32px 24px 32px;
            background-color: $white-text-color;
            box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
            border-radius: 24px;

            @media screen and (min-width: $tablet) {
                max-width: 224px;
                max-height: 537px;
                padding: 40px 24px;
            }

            @media screen and (min-width: $desktop) {
                max-width: 368px;
                max-height: 542px;
                padding: 40px;
            }

            .item.inner {
                .name {
                    display: inline-block;
                    padding: 4px 22px;
                    background-color: $orange-color;
                    border-radius: 4px;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 1.20;
                }

                .text {
                    margin-top: 20px;
                    margin-bottom: 8px;

                    @media screen and (min-width: $tablet) {
                        margin-top: 32px;
                        margin-bottom: 12px;
                    }

                    @media screen and (min-width: $desktop) {
                        margin-bottom: 8px;
                    }
                }

                &.short {
                    line-height: 1.6;
                }

                &+.item.inner {
                    position: relative;
                    margin-top: 48px;

                    @media screen and (min-width: $tablet) {
                        margin-top: 64px;
                    }
                }


                &+.item.inner::before {
                    content: "";
                    position: absolute;
                    top: -24px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: block;
                    max-width: 210px;
                    width: 100%;
                    height: 0;
                    border-top: 1px solid #E1E1E1;

                    @media screen and (min-width: $tablet) {
                        top: -32px;
                        max-width: 176px;
                    }

                    @media screen and (min-width: $desktop) {
                        top: -32px;
                        max-width: 288px;
                    }

                }

                .map-addres {
                    color: #D6936D;
                }

                .time {
                    display: inline-block;
                    margin-bottom: 8px;
                    color: #ABABAB;

                    @media screen and (min-width: $desktop) {
                        margin-bottom: 12px;
                    }

                }

                .link {
                    color: $black-text-color;
                }
            }

        }
    }

    .overlay {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        @media screen and (min-width: $tablet) {
            flex-direction: row;
            justify-content: center;
            column-gap: 16px;
            margin-top: 40px;

        }

        @media screen and (min-width: $desktop) {
            margin-top: 60px;
        }

        .overlay-buttons {
            margin: 0;
            .button {
                &.primery {
                    padding: 12px 40px;
                    column-gap: 4px;
                    transition: background-color 250ms linear, color 250ms linear;

                    &:hover {
                        background-color: $hover-color;
                    }

                    &:focus {
                        background-color: $hover-color;
                        color: $white;
                    }

                    &:disabled {
                        background-color: $disabled;
                    }

                }

                &.secondary {
                    background-color: transparent;
                    border: 2px solid $orange-color;
                    column-gap: 4px;
                    transition: border 250ms linear, color 250ms linear;

                    &:hover {
                        border: 2px solid $hover-color;
                    }

                    &:focus {
                        border: 2px solid $hover-color;
                        color: $white;
                    }

                    &:disabled {
                        border: 2px solid $disabled;
                    }

                }

            }
        }



    }
}