@import "roots.scss";

.section.gallery {
    position: relative;

    .tumb {
        position: absolute;
        top: -36px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 280px;
        width: 100%;
        max-height: 130px;
        border-radius: 8px;
        overflow: hidden;

        @media screen and (min-width: $mobile) {
            max-width: 440px;
            max-height: 204px;
            top: -49px;
        }

        @media screen and (min-width: $tablet) {
            max-width: 704px;
            max-height: 327px;
            top: -144px;
            border-radius: 18px;
        }

        @media screen and (min-width: $desktop) {
            max-width: 1013px;
            max-height: 422px;
            top: -98px;
            border-radius: 24px;
        }
    }
}