@import "roots.scss";




.header {
    background-color: $green-background-color;
    position: relative;

    .container {
        justify-content: space-between;
        padding-top: 12px;

        @media screen and (min-width: $desktop) {
            padding-top: 0;
            justify-content: flex-start;
            column-gap: 204px;
        }
    }

    .logo-link {
        display: block;
        max-width: 40px;
        max-height: 37px;

        @media screen and (min-width: $tablet) {
            max-width: 48px;
            max-height: 44px;
        }

        @media screen and (min-width: $desktop) {
            max-width: 60px;
            max-height: 65px;
            margin-right: 103px;
        }


        .logo {
            width: 100%;
            height: 100%;

        }
    }

    .menu-toggle {
        display: block;
        max-width: 32px;
        max-height: 32px;
        background-color: transparent;
        padding: 0;
        border: none;
        cursor: pointer;

        @media screen and (min-width: $desktop) {
            display: none;
        }

        .icon-menu {
            display: block;
            width: 100%;
            height: 32px;

        }

    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);

        transition: transform 250ms linear;

        background-color: $green-background-color;
        z-index: 200;

        padding: 100px 20px 64px 20px;
        text-align: center;
        overflow: auto;

        @media screen and (min-width: $desktop) {
            position: static;
            transform: translateY(0);
            padding: 0;
            width: auto;
            z-index: 2;
        }

        &.is-open {
            transform: translateY(0);

        }

        .icon-close {
            position: absolute;
            top: 16px;
            right: 20px;
            max-width: 32px;
            width: 100%;
            max-height: 32px;
            fill: $white-text-color;
        }

        .logo-link {
            position: absolute;
            top: 12px;
            left: 32px;
            height: 37px;

            @media screen and (min-width: $desktop) {
                display: none;
            }
        }

        .main-nav {
            .list {
                flex-direction: column;
                align-items: center;
                row-gap: 32px;

                @media screen and (min-width: $desktop) {
                    flex-direction: row;
                    align-items: center;
                    column-gap: 25px;
                }

                .link {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 39px;
                    color: $white-text-color;
                    &:hover {
                        color: $black-text-color;
                    }
                    &:focus{
                        color: $black-text-color;
                    }

                    @media screen and (min-width: $desktop) {
                        font-size: 16px;
                        line-height: 1.25;
                        padding: 32px 0 13px 0;
                        letter-spacing: 0.02em;
                        transition: color 250ms linear;

                        &:hover {
                            color: $orange-color;
                        }
                        &:focus{
                            color: $orange-color;
                        }
                    }

                }
            }


        }

        .overlay-buttons.mobil-menu {
            @media screen and (min-width: $tablet) {
                display: none;
            }

            .button.mobil {
                margin-top: 110px;
                display: flex;
                column-gap: 4px;
                align-items: center;
                padding: 12px 36px;

                @media screen and (min-width: $mobile) {
                    margin-top: 114px;
                }

            }
        }


    }

    .overlay-buttons {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 32px;

        @media screen and (min-width: $desktop) {
            padding-top: 20px;
            max-height: 42px;
        }

        .button.tablet {
            display: none;

            @media screen and (min-width: $tablet) {
                display: block;
                padding: 12px 35px;

            }

        }
    }

}