<section class="section advantages">
    <div class="container">
        <h2 class="hidden">advantages</h2>
        <ul class="list flex-container">
            <li class="item cow">
                <p class="text"><span class="text-bold">721</span>Aliquam ac dui vel dui vulputaпte consectetur.
                    Mauris massa.</p>
                <p class="text"></p>
            </li>
            <li class="item weight">
                <p class="text"><span class="text-bold">16kg</span>Aliquam ac dui vel dui vulputate consectetur.
                    Mauris massa.</p>
                <p class="text"></p>
            </li>
            <li class="item cold">
                <p class="text"><span class="text-bold">84</span>Aliquam ac dui vel dui vulputate consectetur.
                    Mauris massa.</p>
                <p class="text"></p>
            </li>
        </ul>
    </div>
</section>