<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <div class="modal-container">
            <button class="button modal-close" data-modal-close>
                <svg class="icon-close">
                    <use href="./images/icons.svg#icon-mobil-close"></use>
                </svg>
            </button>

            <h2 class="subtitle-modal">Buy now</h2>
            <form class="form-feild">
                <div role="group" class="checkbox-container flex-container">
                    <input type="checkbox" class="form-input check" id="cream" name="choice-icecreem">
                    <label for="cream" class="form-label ice-box">ice cream
                        <span class="ice-cream circle"></span>
                    </label>

                    <input type="checkbox" class="form-input check" id="coffee" name="choice-icecreem">
                    <label for="coffee" class="form-label coffee-box">ice coffee
                        <span class="ice-coffee circle"></span>
                    </label>

                    <input type="checkbox" class="form-input check" id="milk" name="choice-icecreem">
                    <label for="milk" class="form-label milk-box">milkshakes
                        <span class="milkshakes circle"></span>
                    </label>
                </div>

                <div role="group" class="input-container">
                    <input type="text" name="contacts" class="form-input" id="choice-name" placeholder=" ">
                    <label for="choice-name" class="form-label">Name</label>

                    <input type="tel" name="contacts-tell" class="form-input" id="choice-tell" placeholder=" ">
                    <label for="choice-tell" class="form-label">Phone</label>

                    <textarea name="comment" class="form-comment" placeholder="Comment"></textarea>

                </div>
                <div class="button-wrapper">
                    <button type="submit" class="button primery">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>