<section class="section contacts" id="contact">
    <div class="container">
        <div class="up">
            <h2 class="hidden">Contacts</h2>
            <ul class="list contacts-box flex-container">
                <li class="item">
                    <ul class="list">
                        <li class="item inner">
                            <span class="name">cafe</span>
                            <p class="text">Chicago</p>
                            <p class="map-addres">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
                        </li>
                        <li class="item inner">
                            <div class="timetable">
                                <p class="days">Monday - Friday</p>
                                <span class="time">06:00 AM - 10:00 PM</span>
                            </div>
                            <div class="timetable">
                                <p class="days">Saturday - Sunday</p>
                                <span class="time">08:00 AM - 16:00 PM</span>
                            </div>
                        </li>
                        <li class="item inner short">
                            <a href="tel:+610383766284" class="link">+61(0) 383 766 284</a>
                            <a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <ul class="list">
                        <li class="item inner">
                            <span class="name">FOOD TRUCK</span>
                            <p class="text">Los Angeles</p>
                            <p class="map-addres">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
                        </li>
                        <li class="item inner">
                            <div class="timetable">
                                <p class="days">Monday - Friday</p>
                                <span class="time">06:00 AM - 10:00 PM</span>
                            </div>
                            <div class="timetable">
                                <p class="days">Saturday - Sunday</p>
                                <span class="time">08:00 AM - 16:00 PM</span>
                            </div>
                        </li>
                        <li class="item inner short">
                            <a href="tel:+610383766284" class="link">+61(0) 383 766 284</a>
                            <a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
                <li class="item">
                    <ul class="list">
                        <li class="item inner">
                            <span class="name">cafe</span>
                            <p class="text">New York</p>
                            <p class="map-addres">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
                        </li>
                        <li class="item inner">
                            <div class="timetable">
                                <p class="days">Monday - Friday</p>
                                <span class="time">06:00 AM - 10:00 PM</span>
                            </div>
                            <div class="timetable">
                                <p class="days">Saturday - Sunday</p>
                                <span class="time">08:00 AM - 16:00 PM</span>
                            </div>
                        </li>
                        <li class="item inner short">
                            <a href="tel:+610383766284" class="link">+61(0) 383 766 284</a>
                            <a href="mailto:noreply@envato.com" class="link">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="overlay">
                <div class="overlay-buttons">
                    <button type="button" class="button primery flex-container" data-modal4-open>Our Locations
                        <svg class="small-arrow ">
                            <use href="./images/icons.svg#icon-ep_arrow"></use>
                        </svg>
                    </button>
                </div>

                <div class="overlay-buttons">
                    <button type="button" class="button secondary flex-container" data-modal5-open>Franchise
                        <svg class="small-arrow">
                            <use href="./images/icons.svg#icon-ep_arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>