<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="title-wrapper">
                <span class="text-small">homemade ice cream made </span>
                <span class="text-big">with passion</span>
            </div>
            <div class="contacts-wrapper">
                <ul class="list contacts-icon">
                    <li class="item">
                        <a href="https://github.com/" class="link" target="_blank">
                            <svg class="link-icon">
                                <use href="./images/icons.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://web.telegram.org/z/" class="link" target="_blank">
                            <svg class="link-icon">
                                <use href="./images/icons.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="item">
                        <a href="https://uk-ua.facebook.com/" class="link" target="_blank">
                            <svg class="link-icon">
                                <use href="./images/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div>
                    <span class="tel-desc">Feel free to contact </span>
                    <a href="tel:+610383766284" class="link tel">+61 (0) 383 766 284</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2022 - IceCream. All Rights Reserved. </p>
        </div>
    </div>
</footer>