<section class="section gallery">
    <div class="container">
        <div class="tumb"><img src="./images/big-icecreem-1x.jpg"
                srcset="./images/big-icecreem-1x.jpg 1x, ./images/big-icecreem-2x.jpg 2x" alt=""
                class="image"></div>
    </div>
</section>
<section class="section customer">
    <div class="container">
        <div class="tumb">
            <img src="./images/customer-icon-1x.jpg"
                srcset="./images/customer-icon-1x.jpg 1x, ./images/customer-icon-2x.jpg 2x"
                alt="customer Emily" class="image">
        </div>
        <div class="reviews">
            <p class="text">I love visiting your cafe. You prepare the most delicious ice cream in Los
                Angeles! In
                addition, you have beautiful serving, cozy atmosphere and polite staff.
            </p>
        </div>
        <p><span class="slide-name">Emily, Los Angeles</span></p>
        <div class="overlay-buttons">
            <button type="button" class="slide-button"></button>
            <button type="button" class="slide-button"></button>
            <button type="button" class="slide-button"></button>
        </div>
    </div>
</section>