<header class="header">
    <div class="container  flex-container">
        <a href="" class="logo-link link">
            <svg class="logo">
                <use href="./images/icons.svg#icon-Logo"></use>
            </svg>
        </a>

        <div class="menu-container js-menu-container" id="mobile-menu">
            <a href="" class="logo-link">
                <svg class="logo">
                    <use href="./images/icons.svg#icon-Logo"></use>
                </svg>
            </a>
            <button class="menu-toggle close js-close-menu">
                <svg class="icon-close">
                    <use href="./images/icons.svg#icon-mobil-close"></use>
                </svg>
            </button>
            <nav class="main-nav">
                <ul class="list  flex-container">
                    <li><a href="" class="link">
                            Home
                        </a></li>
                    <li><a href="" class="link">
                            How it’s made?
                        </a></li>
                    <li><a href="" class="link">
                            Our products
                        </a></li>
                    <li><a href="" class="link">
                            Contact
                        </a></li>
                </ul>
            </nav>
            <div class="overlay-buttons mobil-menu">
                <button type="button" class="button primery mobil" data-modal-open>Buy now
                    <svg class="small-arrow">
                        <use href="./images/icons.svg#icon-ep_arrow"></use>
                    </svg>
                </button>
            </div>

        </div>
        <div class="overlay-buttons">
            <button type="button" class="menu-toggle is-open js-open-menu" aria-expanded="false"
                aria-controls="mobile-menu">
                <svg class="icon-menu" aria-label="Переключатель мобільного вікна">
                    <use href="./images/icons.svg#icon-mobil-menu-open"></use>
                </svg>
            </button>
            <button type="button" class="button primery tablet" data-modal1-open> Buy now
                <svg class="small-arrow">
                    <use href="./images/icons.svg#icon-ep_arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</header>