<section class="section hero">
    <div class="container flex-container">
        <div class="box-title">
            <div>
                <h1 class="title">ice cream
                    made with
                    <span class="big-word">passion</span></h1>
                <div class="container-link">
                    <a href="#products" class="link primery">Products</a>
                    <a href="#about" class="link secondary">How it’s made?</a>
                </div>
            </div>
            <div class="fast-order flex-container">
                <div class="tumb">
                    <img src="./images/ice-hero-lttl-1x.png"
                        srcset="./images/ice-hero-lttl-1x.png 1x, ./images/ice-hero-lttl-2x.png 2x"
                        alt="plate icecream" class="image plate">
                </div>
                <div class="hero-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et</p>
                    <button type="button" class="button arrow coffee">
                        <svg class="button-icon">
                            <use href="./images/icons.svg#icon-Arrow"></use>
                        </svg>
                    </button>
                </div>

            </div>
        </div>
        <div class="box-image">
            <picture>
                <source srcset="./images/ice-1200-1x.png 1x, ./images/ice-1200-2x.png 2x"
                    media="(min-width: 1200px)" />
                <source srcset="./images/ice-768-1x.png 1x, ./images/ice-768-2x.png 2x"
                    media="(min-width: 768px)" />
                <source srcset="./images/ice-480-1x.png 1x, ./images/ice-480-2x.png 2x"
                    media="(max-width: 768px)" />
                <img src="./images/ice-480-1x.png" class="image"
                     alt="tasty icecream">
            </picture>
        </div>
        <div class="box-cafe">
            <p class="text">
                <span class="style-bold">16</span>cafes
            </p>
            <p class="text">
                <span class="style-bold">23</span>food trucks
            </p>
        </div>
        <div class="tumb">
            <img src="./images/points.png" srcset="./images/points.png 1x, ./images/points-2x.png 2x" alt="points wave" class="image points">
            <img src="./images/points-left.png" srcset="./images/points-left.png 1x, ./images/points-left-2x.png 2x" alt="points wave" class="image points-left">
            <img src="./images/points-right.png" srcset="./images/points-right.png 1x, ./images/points-right-2x.png 2x" alt="points wave" class="image points-right">
            <img src="./images/points-desktop.png" srcset="./images/points-desktop.png 1x, ./images/points-desktop-2x.png 2x" alt="points wave" class="image points-desktop">
        </div>
    </div>
</section>