<div class="backdrop products is-hidden" data-modal2>
    <div class="modal">
        <div class="modal-container">
            <button class="button modal-close" data-modal2-close>
                <svg class="icon-close">
                    <use href="./images/icons.svg#icon-mobil-close"></use>
                </svg>
            </button>
            <h2 class="subtitle-modal">Chololate icecream</h2>
            <div class="circle green"></div>

            <div class="consist-box">
                <div class="consist-outside">kcal
                    <div class="consist-inside">320</div>
                </div>

                <div class="consist-outside">Protein
                    <div class="consist-inside">4g</div>
                </div>

                <div class="consist-outside">Fats
                    <div class="consist-inside">8,2g</div>
                </div>

                <div class="consist-outside">Carbs
                    <div class="consist-inside">40,4g </div>
                </div>
            </div>

            <p class="name">Ingredients</p>
            <div class="ingred-box">
                <div class="ingred">
                    <div class="product">Milk</div>
                    <div class="sum">100ml</div>
                </div>
                <div class="ingred">
                    <div class="product">Belgian chocolate</div>
                    <div class="sum">20g</div>
                </div>
                <div class="ingred">
                    <div class="product">Cream</div>
                    <div class="sum">150 ml</div>
                </div>
                <div class="ingred">
                    <div class="product">Cocoa powder</div>
                    <div class="sum">30g</div>
                </div>
                <div class="ingred">
                    <div class="product">Sugar</div>
                    <div class="sum">40g</div>
                </div>
                <div class="ingred">
                    <div class="product">Vanilla sugar</div>
                    <div class="sum">10g</div>
                </div>
            </div>
            <form class="form-products">
                <div role="group" class="input-container">
                    <input type="text" name="contacts" class="form-input" id="choice-name-two" placeholder=" ">
                    <label for="choice-name" class="form-label">Name</label>

                    <input type="tel" name="contacts-tell" class="form-input" id="choice-tell-two"
                        placeholder=" ">
                    <label for="choice-tell-two" class="form-label">Phone</label>

                    <textarea name="comment" class="form-comment" placeholder="Comment"></textarea>
                </div>
                <div class="button-wrapper">
                    <button type="submit" class="button primery">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>