<div class="backdrop is-hidden secondary" data-modal5>
    <div class="modal">
        <div class="modal-container">
            <button class="button modal-close" data-modal5-close>
                <svg class="icon-close">
                    <use href="./images/icons.svg#icon-mobil-close"></use>
                </svg>
            </button>
            <h2 class="subtitle-modal">Thank you for your interest in owning an Ice Cream shop</h2>
            <p class="read-text">
                Due to the overwhelming volume of franchise requests we are not accepting new franchisee
                applications at this time. Once the application process resumes, we will contact you for
                further information. Please fill out the contact information below and we will reach out for
                additional information. We appreciate your patience.
            </p>
            <form class="form-products">
                <div role="group" class="input-container">
                    <input type="text" name="contacts" class="form-input" id="choice-name-three"
                        placeholder=" ">
                    <label for="choice-name-three" class="form-label">Name</label>

                    <input type="tel" name="contacts" class="form-input" id="choice-tel-three" placeholder=" ">
                    <label for="choice-tel-three" class="form-label">Phone</label>

                    <input type="email" name="contacts" class="form-input" id="choice-email" placeholder=" ">
                    <label for="choice-email" class="form-label">Email</label>

                    <textarea name="comment" class="form-comment" placeholder="Comment"></textarea>
                </div>
            </form>
            <div class="button-wrapper">
                <button type="submit" class="button primery">Submit</button>
            </div>
        </div>
    </div>
</div>