<section class="section products" id="products">
    <div class="container">
        <span class="oversubtitle">100% natural</span>
        <h2 class="subtitle">products</h2>
        <ul class="list flex-container">
            <li class="item">
                <h3 class="subject">ice cream</h3>
                <p class="text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
                    stabilizer
                </p>
                <button type="button" class="button arrow icecream" data-modal2-open>
                    <svg class="button-icon">
                        <use href="./images/icons.svg#icon-Arrow"></use>
                    </svg>
                </button>
                <div class="circle icecream"></div>
            </li>
            <li class="item">
                <h3 class="subject">ice coffee</h3>
                <p class="text">Fragrant invigorating drink created from 100% natural ingredients without the
                    use of
                    preservatives and flavor enhancers</p>
                <button type="button" class="button arrow coffee" data-modal22-open>
                    <svg class="button-icon">
                        <use href="./images/icons.svg#icon-Arrow"></use>
                    </svg>
                </button>
                <div class="circle coffee"></div>
            </li>
            <li class="item">
                <h3 class="subject">milkshakes</h3>
                <p class="text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
                    berries
                    and other sweets of your choice
                </p>
                <button type="button" class="button arrow milkshakes" data-modal222-open>
                    <svg class="button-icon">
                        <use href="./images/icons.svg#icon-Arrow"></use>
                    </svg>
                </button>
                <div class="circle milkshakes"></div>
            </li>
        </ul>
    </div>
</section>