@import "roots.scss";



.backdrop.secondary {


    .modal {
        padding: 32px 60px;

        .link {
            &:visited {
                color: $black-text-color;
            }

        }

        .modal-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .subtitle-modal {
                margin-bottom: 32px;
                max-width: 332px;
                text-align: center;
            }

            .about-video {
                display: block;
                min-width: 224px;
                max-width: 448px;
                width: 100%;
                min-height: 199px;
                max-height: 205px;
                border-radius: 10px;
                margin-bottom: 20px;

                @media screen and (min-width: $tablet) {
                    margin-bottom: 32px;
                }

            }

            .contacts-map {
                min-width: 224px;
                max-width: 448px;
                width: 100%;
                height: 199px;
                border-radius: 10px;

                @media screen and (min-width: $tablet) {
                    height: 260px;
                }
            }

            .read-text {
                font-size: 16px;
                line-height: 1.40;

            }

            .form-products {
                margin-top: 32px;
            }
        }

    }

}