$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$white-text-color: #FCFCFC;
$black-text-color: #131313;
$grey-text-color: #7A7A7A;
$orange-color: #F8D24E;
$green-background-color: #84A178;
$icecream-color: #AEC6A5;
$icecoffee-color: #EFD478;
$milkshakes-color: #D6936D;
$hover-color: #0A8817;
$white: #FFFFFF;
$disabled: #ABABAB;
$modal-color-icecream: #96AF8C;
$modal-border-color: #84A178;
$modal-products-cirlcle: #9CBE8F;
